

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=""

DEV_DB_USER=""
DEV_DB_PASSWORD=""
DEV_DB_NAME=""
DEV_DB_HOST=""
DEV_DB_PORT=""

DEV_DB_URL=""
DB_URL=""

DATABASE_URL=""

# Next Auth
# for local porpouse use s `openssl rand -base64 32`
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
# Providers
GITHUB_ID=""
GITHUB_SECRET=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
